*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: rgb(7, 3, 255);
color: rgb(2, 2, 2);
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px;
}
  .cabeçalho-imagem {
width: 15%;
  }
 
.cabeçalho-lista-item{
    display: inline-block;
    margin: 16px;
    font-size: 24px;
}
.escola-imagem{
width: 35%;
}
.Escola{
  background-image:linear-gradient(#1101f8,#fdfdfd);
  color: rgb(2, 2, 2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px0;
}